#input {
  display: flex;
  justify-content: center;
  gap: 10px;
}

#input-task {
  height: 36px;
  width: 305px;
  padding-left: 10px;
  font-size: 16px;
}

#input-date {
  width: 150px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 13px;
}

#input-btn,
#reset-btn {
  background-color: rgb(0, 209, 0);
  width: 100px;
  border: none;
  cursor: pointer;
  border-radius: 3px;
}

#reset-btn {
  background-color: red;
}
