#render-list {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.remove-task {
  background-color: red;
  border: none;
  padding: 5px;
  border-radius: 3px;
  cursor: pointer;
}
